In [69]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [70]:
df = pandas.DataFrame(numpy.random.randn(10, 2))

msk = numpy.random.rand(len(df)) < 0.5

train = df[msk]
test = df[~msk]

In [71]:
print(len(train))
print(len(test))

6
4

In [72]:
train, test = train_test_split(df, test_size=0.2)

In [73]:
train

          0         1
5  0.058987  0.337394
1  0.359362 -1.160933
9  1.798610  0.039018
3  1.383547 -0.411421
6 -1.291121  1.563381
2 -0.830510  0.397941
8  0.393118  0.411615
4  1.338333 -0.221120

In [74]:
test

          0         1
7 -0.269113  2.631024
0 -1.316673 -1.392464