In [2]:
%%capture
%run '01_Getting_Data.ipynb'

### 1. Correlation

In [3]:
data.head()

            bitcoin_price  search_volume
date
2011-05-01         3.0331       0.704634
2011-05-02         3.2000       0.493244
2011-05-03         3.4100       0.493244
2011-05-04         3.4061       0.422781
2011-05-05         3.3330       0.493244